[Unit]
Description=Zookeeper
After=network.target

[Service]
User=zookeeper
Group=zookeeper
EnvironmentFile=/etc/sysconfig/zookeeper
ExecStart=/bin/java $HEAP_OPTS $LOG4J_OPTS $JMX_OPTS $JAVA_OPTS -cp $CLASSPATH $ZOOKEEPER_MAIN $ZOOKEEPER_CONF
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
